<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_appicon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_appicon2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora"
        tools:targetApi="31">
        <activity
            android:name=".CrearEquipoActivity"
            android:exported="false" />
        <activity
            android:name=".AsignarSitioActivity"
            android:exported="false"
            android:parentActivityName=".ListaAsignacionSitiosActivity" />
        <activity
            android:name=".AdminInformacionSitioActivity"
            android:exported="false"
            android:parentActivityName=".InformacionSupervisorActivity" />
        <activity
            android:name=".CrearSitioActivity"
            android:exported="false" />
        <activity
            android:name=".Supervisor"
            android:exported="false" />
        <activity
            android:name=".SuperAdminCrearAdministrador"
            android:exported="false" />
        <activity
            android:name=".SuperAdminEditarAdministrador"
            android:exported="false" />
        <activity
            android:name=".SuperAdminListUsuarios"
            android:exported="false" />
        <activity
            android:name=".SuperAdminLogEventos"
            android:exported="false" />
        <activity
            android:name=".Administrador"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginFragment"
            android:exported="false" />
        <activity
            android:name=".InformacionSupervisorActivity"
            android:exported="false"
            android:parentActivityName=".ListaSupervisoresActivity" />
        <activity
            android:name=".ListaAsignacionSitiosActivity"
            android:exported="false"
            android:parentActivityName=".InformacionSupervisorActivity" />
        <activity
            android:name=".CrearSupervisorActivity"
            android:exported="false"
            android:parentActivityName=".ListaSupervisoresActivity" />
        <activity
            android:name=".ListaSupervisoresActivity"
            android:exported="false" />
        <activity
            android:name=".InicioFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>