<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_appicon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_appicon2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora"
        tools:targetApi="31">
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Supervisor.SupervisorEstadoEquipoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDN6lz5JvEuuKiQiaAP7uR_jCyV4E25jjc" />

        <activity
            android:name=".Admin.InformacionEquipoActivity"
            android:exported="false" />
        <activity
            android:name=".Superadmin.SuperAdmin"
            android:exported="false"
            android:label="@string/title_activity_super_admin" />
        <activity
            android:name=".General.CambiarContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".Supervisor.SupervisorListaSupervisores"
            android:exported="false" />
        <activity
            android:name=".Supervisor.SupervisorListaSitios"
            android:exported="false" />
        <activity
            android:name=".Supervisor.SupervisorListaDeEquipos"
            android:exported="false" />
        <activity
            android:name=".MensajeriaChatActivity"
            android:exported="false"
            android:parentActivityName=".MensajeriaActivity" />
        <activity
            android:name=".Admin.CrearEquipoActivity"
            android:exported="false"
            android:parentActivityName=".Admin.FragmentHome" />
        <activity
            android:name=".MensajeriaActivity"
            android:exported="false"
            android:parentActivityName=".Admin.FragmentHome" />
        <activity
            android:name=".Admin.AsignarSitioActivity"
            android:exported="false"
            android:parentActivityName=".Admin.ListaAsignacionSitiosActivity" />
        <activity
            android:name=".Admin.AdminInformacionSitioActivity"
            android:exported="false"
            android:parentActivityName=".Admin.InformacionSupervisorActivity" />
        <activity
            android:name=".Admin.CrearSitioActivity"
            android:exported="false" />
        <activity
            android:name=".Supervisor.Supervisor"
            android:exported="false" />
        <activity
            android:name=".Superadmin.SuperAdminListUsuarios"
            android:exported="false" />
        <activity
            android:name=".Superadmin.SuperAdminLogEventos"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".General.LoginFragment"
            android:exported="false" />
        <activity
            android:name=".Admin.InformacionSupervisorActivity"
            android:exported="false"
            android:parentActivityName=".Admin.ListaSupervisoresActivity" />
        <activity
            android:name=".Admin.ListaAsignacionSitiosActivity"
            android:exported="false"
            android:parentActivityName=".Admin.InformacionSupervisorActivity" />
        <activity
            android:name=".Admin.CrearSupervisorActivity"
            android:exported="false"
            android:parentActivityName=".Admin.ListaSupervisoresActivity" />
        <activity
            android:name=".Admin.ListaSupervisoresActivity"
            android:exported="false" />
        <activity
            android:name=".General.InicioFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin.FragmentSupervisores"
            android:exported="false" />
    </application>

</manifest>